
{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
                </li

        {% elif user.is_not_authenticated %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>

            <li>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
        {% endif %}

        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
    </div>

{% endblock content %}



