{% extends 'base.html' %}
{%load markdownify%}
{% block content %}

    <div>
        <h1>Project {{project.name}}</h1>
        {{ project.description|markdownify }}

        {% if project.tasks.all|length > 0 %}
            <h2>Tasks</h2>

            <p>
                <a href="{% url 'create_task' %}">Create a new Task</a>
            </p>



            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>

                <tbody>

                    {%for task in project.tasks.all%}
                        <tr>
                            <td>{{task.name}}</td>
                            <td>{{task.assignee}}</td>
                            <td>{{task.start_date}}</td>
                            <td>{{task.due_date}}</td>
                            <td>{% if task.is_completed == True %} Yes
                            {% else %} No
                            {% endif %}
                            </td>

                        </tr>


                        </tbody>

                        </table>
                    {%endfor%}

        {%else%}
            <h2>Tasks</h2>
            <p>This project has no tasks</p>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
        {%endif%}

    </div>
{% endblock content %}